body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1,p{
  font-family: 'Lobster', cursive;
  margin-top: 0 auto;

}
.top{
  background-color: #F4BFBF;
  
}
.nubetop{
  height: 50px;
  position: relative;
  top: 20px;
  left: 20%;
}
.nubebot{
  left: 300px;
  height: 50px;
  position: absolute;
  
}
.monta{
  height: 200px;
  position: relative;
  top: 70px;
}
.bird{
  height: 50px;
  position: absolute;
  top: 220px;
  left: 40%;
}
.bird2{
  height: 50px;
  position: absolute;
  top: 220px;
  left: 80%;
  top:20%;
}